# Dataset overview

In [1]:
# 라이브러리 불러오기 
import pandas as pd

In [5]:
# train data 불러오기 
train_set1 = pd.read_csv('/content/drive/My Drive/dacon/security_dataset/HAI 1.0/train-dataset/train1.csv', index_col=0)
train_set2 = pd.read_csv('/content/drive/My Drive/dacon/security_dataset/HAI 1.0/train-dataset/train2.csv', index_col=0)

# test data 불러오기
test_set1 = pd.read_csv('/content/drive/My Drive/dacon/security_dataset/HAI 1.0/test-dataset/test1.csv', index_col=0)
test_set2 = pd.read_csv('/content/drive/My Drive/dacon/security_dataset/HAI 1.0/test-dataset/test2.csv', index_col=0)

In [9]:
# value 값 확인하기
train_set2['attack'].value_counts()

0    240424
1       776
Name: attack, dtype: int64

In [12]:
# 공격이 들어온 raw만 추출
attack_df = train_set2[train_set2['attack']==1]
attack_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 776 entries, 2019-11-02 15:31:25 to 2019-11-03 15:37:53
Data columns (total 63 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   P1_B2004    776 non-null    float64
 1   P1_B2016    776 non-null    float64
 2   P1_B3004    776 non-null    float64
 3   P1_B3005    776 non-null    float64
 4   P1_B4002    776 non-null    float64
 5   P1_B4005    776 non-null    float64
 6   P1_B400B    776 non-null    float64
 7   P1_B4022    776 non-null    float64
 8   P1_FCV01D   776 non-null    float64
 9   P1_FCV01Z   776 non-null    float64
 10  P1_FCV02D   776 non-null    float64
 11  P1_FCV02Z   776 non-null    float64
 12  P1_FCV03D   776 non-null    float64
 13  P1_FCV03Z   776 non-null    float64
 14  P1_FT01     776 non-null    float64
 15  P1_FT01Z    776 non-null    float64
 16  P1_FT02     776 non-null    float64
 17  P1_FT02Z    776 non-null    float64
 18  P1_FT03     776 non-null    float64
 19  P1_FT03Z    776 non-null    float64
 20  P1_LCV01D   776 non-null    float64
 21  P1_LCV01Z   776 non-null    float64
 22  P1_LIT01    776 non-null    float64
 23  P1_PCV01D   776 non-null    float64
 24  P1_PCV01Z   776 non-null    float64
 25  P1_PCV02D   776 non-null    int64
 26  P1_PCV02Z   776 non-null    float64
 27  P1_PIT01    776 non-null    float64
 28  P1_PIT02    776 non-null    float64
 29  P1_TIT01    776 non-null    float64
 30  P1_TIT02    776 non-null    float64
 31  P2_24Vdc    776 non-null    float64
 32  P2_Auto     776 non-null    int64
 33  P2_Emgy     776 non-null    int64
 34  P2_On       776 non-null    int64
 35  P2_SD01     776 non-null    int64
 36  P2_SIT01    776 non-null    float64
 37  P2_TripEx   776 non-null    int64
 38  P2_VT01e    776 non-null    float64
 39  P2_VXT02    776 non-null    float64
 40  P2_VXT03    776 non-null    float64
 41  P2_VYT02    776 non-null    float64
 42  P2_VYT03    776 non-null    float64
 43  P3_LCP01D   776 non-null    int64
 44  P3_LCV01D   776 non-null    int64
 45  P3_LH       776 non-null    int64
 46  P3_LL       776 non-null    int64
 47  P3_LT01     776 non-null    float64
 48  P4_HT_FD    776 non-null    float64
 49  P4_HT_LD    776 non-null    float64
 50  P4_HT_PO    776 non-null    float64
 51  P4_HT_PS    776 non-null    int64
 52  P4_LD       776 non-null    float64
 53  P4_ST_FD    776 non-null    float64
 54  P4_ST_LD    776 non-null    float64
 55  P4_ST_PO    776 non-null    float64
 56  P4_ST_PS    776 non-null    float64
 57  P4_ST_PT01  776 non-null    float64
 58  P4_ST_TT01  776 non-null    float64
 59  attack      776 non-null    int64
 60  attack_P1   776 non-null    int64
 61  attack_P2   776 non-null    int64
 62  attack_P3   776 non-null    int64
dtypes: float64(48), int64(15)
memory usage: 388.0+ KB

In [14]:
# attack_P1, attack_P2, attack_P3과 attack의 상관관계 탐색
attack_df.head()
attack_df['attack_P1'].value_counts()

1    776
Name: attack_P1, dtype: int64

In [15]:
attack_df['attack_P2'].value_counts()

0    776
Name: attack_P2, dtype: int64

In [16]:
attack_df['attack_P3'].value_counts()

0    776
Name: attack_P3, dtype: int64

안타깝게도 attack_df로는 attack과 attack_P1, attack_P2, attack_P3과의 연관관계를 찾을 수 없다. 이번엔